@{
    ViewData["Title"] = "ItsMyWeeknd | Find fun this weekend";
}

<div class="container"><br>
<div class="jumbotron">
    <h1>Its My Weeknd 🎇</h1>
    <p>Let's find you something fun to do! 🤘</p>
</div>
<div class="container">
    <h2>Search Things To Do</h2>
    @model ItsMyWeeknd.Models.Event
    <form action="search" method="post"><br>
        <label asp-for="Destination"></label>
        <input asp-for="Destination" class="form-control">
        <span asp-validation-for="Destination"></span>

        <label asp-for="FromDate"></label>
        <input asp-for="FromDate" type="date" class="form-control">
        <span asp-validation-for="FromDate"></span>

        <label asp-for="ToDate"></label>
        <input asp-for="ToDate" type="date" class="form-control">
        <span asp-validation-for="ToDate"></span>

        <input type="checkbox" name="" id="weeknd"> This Weekend! <br><br>

        <input type="submit" value="Search" class="btn btn-primary">
    </form>
</div>
</div>