@{
    ViewData["Title"] = "ItsMyWeeknd | Find fun this weekend";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/event-discovery/1.0.0/lib/main-widget.js"></script>

<script>
    $.fn.redraw = function () {
            $(this).each(function () {
                var redraw = this.offsetHeight;
            });
        };

    $(document).ready(function () {
        $('form').submit(function (e) {
            e.preventDefault()
            var app_key = 'WQ2hJfvj4sjx6jpr';
            var Destination = $('input#Destination').val();
            $.get(`http://api.eventful.com/json/events/search?app_key=${app_key}&l=${Destination}&t=This+Weekend`, function (res) {
                console.log(res)
                var html = "";
                // ammending html with widget
                // html += '<div id="thing" w-type="event-discovery" w-tmapikey="iBGjTDaYW6pZc1kS2lHMLqqVrYotHVG6" w-googleapikey="AIzaSyCqhoR5ISibhYgUaOZdm_R1WuYep6dNyo0" w-keyword="" w-theme="simple" w-colorscheme="light" w-width="100%" w-height="550" w-size="25" w-border="0" w-borderradius="0" w-postalcode="" w-radius="25" w-period="week" w-layout="fullwidth" w-attractionid="" w-promoterid="" w-venueid="" w-affiliateid="" w-segmentid="" w-proportion="custom" w-titlelink="off" w-countrycode="US" w-source="" w-city="' + Destination + '" w-latlong=""></div>';
                html += '<br><br><div class="eventful-badge eventful-large"><img src="http://api.eventful.com/images/powered/eventful_139x44.gif" alt="Local Events, Concerts, Tickets"><p><a href="http://eventful.com/">Events</a> by Eventful</p></div>'
                for(var i = 0; i < res.events.event.length; i++){
                    html += "<h2> <a href='" + res.events.event[i].url + "'>" + res.events.event[i].title + "</a> </h2>";
                    html += "<p>" + res.events.event[i].city_name + ", " + res.events.event[i].region_abbr + "</p>";
                    html += "<p>" + res.events.event[i].start_time + "</p>";
                    if(res.events.event[i].description){
                        html += "<p>" + res.events.event[i].description + "</p>";
                    }
                    if(res.events.event[i].image){
                        html += '<img src="' + res.events.event[i].image["medium"]["url"] + '" alt="">'
                    }
                    html += "<hr>";
                }
                $('#results').html(html);
                // $('#thing').attr("w-city", Destination)
                // $("#thing").load(location.href + "#thing ");

                // $('#results').html(html);
                // $('#thing').html(wid);
                // $('#thing').css("height", "200px")
                // $('#thing').css("width", "800px")
                // $('#thing').css("outline", "1px dotted red")
                // // $('#thing').attr("w-city", Destination)
                // $("#thing").load(location.href + "widget");
                // $("#thing").load(location.href + "#thing", function (e) { console.log(e) });
            }, 'jsonp');
           

            $.ajax({
                type: "GET",
                url: "https://app.ticketmaster.com/discovery/v2/events.json?city=" + Destination + "&apikey=iBGjTDaYW6pZc1kS2lHMLqqVrYotHVG6",
                async: true,
                dataType: "json",
                success: function (json) {
                    console.log(json);
                    var sidebar = "";
                    sidebar += "<img src='http://b2b.ticketmaster.dk/sites/default/files/downloads/tmlogo_blue.png' alt='logo' height='70px'>";
                    sidebar += "<h4 class=''>Click events for more info!</h4><br>";
                    for(var i = 0; i < json._embedded.events.length; i++){
                        sidebar += "<h4> <a href='" + json._embedded.events[i].url + "'>" + json._embedded.events[i].name + "</a> </h4>";
                        for(var j = 0; j < json._embedded.events[i]._embedded.venues.length; j++){
                            sidebar += "<p> Venue: " + json._embedded.events[i]._embedded.venues[j].name + " </p><br>";
                        }
                    }
                    // amending html with map widget
                    // sidebar += '<br><h3>Map</h3><div w-type="map" w-tmapikey="iBGjTDaYW6pZc1kS2lHMLqqVrYotHVG6" w-googleapikey="AIzaSyCqhoR5ISibhYgUaOZdm_R1WuYep6dNyo0" w-keyword="" w-theme="simple" w-colorscheme="light" w-width="250" w-height="600" w-size="25" w-border="0" w-borderradius="4" w-postalcode="" w-radius="25" w-city="' + Destination + '" w-period="week" w-layout="vertical" w-attractionid="" w-promoterid="" w-venueid="" w-affiliateid="" w-segmentid="" w-proportion="custom" w-geoposition="off" w-latlong="" w-classificationname=""></div>'
                    $('#ticketmaster').html(sidebar);
                },
                error: function (xhr, status, err) {
                    // This time, we do not end up here!
                }
            });

        })
    });
</script>

<a href="res.events.event[i].url"></a>
<div class="container"><br>
<div class="jumbotron">
    <img src="images/It's Your Weeknd (1).png" alt="" class="center"><br><br>
    <!-- <p>Let's find you something fun to do! 🤘</p> -->
</div>
<div class="container col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <h3>Search Things To Do</h3>
    @model ItsMyWeeknd.Models.Event
    <form action="search" method="post">
        <label asp-for="Destination"></label>
        <input asp-for="Destination" name="Destination" id="Destination" class="form-control">
        <span asp-validation-for="Destination"></span>

        <!-- <label asp-for="FromDate"></label>
        <input asp-for="FromDate" type="date" class="form-control">
        <span asp-validation-for="FromDate"></span>

        <label asp-for="ToDate"></label>
        <input asp-for="ToDate" type="date" class="form-control">
        <span asp-validation-for="ToDate"></span> -->
        
        <input type="checkbox" name="" id="weeknd" checked> This Weekend! <br><br>

        <input type="submit" value="Search" class="btn btn-primary">
    </form><br>
    <div id="ticketmaster"></div>
</div>
<div class="container col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <div id="thing"></div>
</div><br>
<div class="container col-lg-9 col-md-9 col-sm-9 col-xs-9" id="results"></div>
</div>

<!-- <div w-type="map" w-tmapikey="iBGjTDaYW6pZc1kS2lHMLqqVrYotHVG6" w-googleapikey="AIzaSyCqhoR5ISibhYgUaOZdm_R1WuYep6dNyo0" w-keyword="" w-theme="simple" w-colorscheme="light" w-width="300" w-height="600" w-size="25" w-border="0" w-borderradius="4" w-postalcode="" w-radius="25" w-city="" w-period="week" w-layout="vertical" w-attractionid="" w-promoterid="" w-venueid="" w-affiliateid="" w-segmentid="" w-proportion="custom" w-geoposition="off" w-latlong="" w-classificationname=""></div> -->


<script src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/event-discovery/1.0.0/lib/main-widget.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqhoR5ISibhYgUaOZdm_R1WuYep6dNyo0&libraries=visualization,places" async defer></script>
<script src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/map/1.0.0/lib/main-widget.js"></script>